  /* The left sidebar menu */
  .leftsidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 208px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #841617; /* Crimson */
    overflow-x: hidden;  /*Disable horizontal scroll */
    padding-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
  }
  

  
  /* The right sidebar menu */
  .rightsidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 208px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #fff; /* Crimson */
    overflow-x: hidden;  /*Disable horizontal scroll */
    padding-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
  }
  
  /* The navigation menu links */
  .leftsidenav a {
      margin-left: 8px;
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #fff;
      display: block;
    }
  
  .leftsidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 208px;
    margin-right: 208px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    text-align: left;
    z-index: 0;
  }
  
  .abstract {
    margin-left: 208px;
    margin-right: 208px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-style: italic;
    text-align: left;
    z-index: 0;
  }
  
  .heading {
    margin-left: 208px;
    margin-right: 208px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-style: bold;
    text-align: left;
    z-index: 0;
  }
  
  .title {
    margin-left: 208px;
    margin-right: 208px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 48px;
    font-style: bold;
    text-align: left;
    z-index: 0;
  }
  .footer {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    text-align: center;
    z-index: 0;
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    bottom: 0; /* Stay at the bottom */
    left: 50%;
  }
  
  .map {
    margin-left: 208px;
    margin-right: 208px;
  }
  
  .logo {
    margin-left: 16px;
  }
  
  h2 {
    text-align: center;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
  background-color: #dddddd;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  